@model IEnumerable<BooksEditor.MVC.Models.BookModel>

@{
    ViewBag.Title = "Books";
}

<h2>@ViewBag.Title</h2>
<section id="CustomerMasterList" class="float-left">
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div>
                        <h1>@item.Header</h1>
                        <ul>
                            <li>@item.PublishingHouse</li>
                            <li>@item.PublishingYear</li>
                            <li>
                                @Html.ActionLink(
                                        "Edit Details",
                                        "Edit",
                                        new { id = item.Id },
                                        new { @class = "book-edit" })
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </table>
</section>

<div id="EditDetails"></div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".book-edit").on("click", function (e) {
                e.preventDefault();

                $.get($(this).prop("href"),
                    function (response) {
                        $("#EditDetails").html(response);
                    });
            });

            $("#EditDetails").on("change", "input.js-book-image-input", function () {
                var input = this;
                if (input.files && input.files[0]) {
                    alert(1);
                    var reader = new FileReader();

                    reader.onload = function (ev) {
                        $(".js-book-image").attr("src", ev.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            });
        });
    </script>
}
